@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* CSS index.html */

.BrunoVaiTomaNoCu{
    width: 100%;
    border: 1px solid #6e6e6e;
    margin: 2rem auto;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.bodyPrincipal{
    background-color: #101820;
}

.principal, .divCadastrar{
    background-color: #E6E6E6;
    box-shadow: 0px 0px 32px 9px #000000;
    border-radius: 39px;
    height: 593px;
    width: 427px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.dentroPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    
}

.formLogin{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.loginSpan{
cursor: default;
align-self: center;
margin: 0.7rem auto;


font-style: normal;
font-weight: 300;
font-size: 55px;

color: #101820;
}

.formLogin .inputForm{
    border-radius: 15px;
    border: none;
    background-color: #C4C4C4;
    padding: 10px 10px;
    margin: 5px;
    width: 340px;
    height: 46px;

}

.buttonLogin{
    cursor: pointer;
    border-radius: 50px;
    border: 2px  solid;
    background-color: #E6E6E6;
    color: #101820;
    border-color: #101820;
    font-size: 20px;
    margin: 25px;
    width: 185px;
    height: 45px;
    align-self: center;
    margin-bottom: 12px;
}

.buttonLogin:hover{
    background-color: #101820;
    color: #F9A826;
}

.esqueciSenha, .entrarGoogle{
    color: #101820;
    text-decoration: none;
}

.esqueciSenha{
    font-weight: 300;
    font-size: 12px;
    position: relative;
    margin-bottom: 18px;
}

.OU{
cursor: default;
font-weight: bold;
font-size: 24px;
line-height: 110.5%;


align-items: center;
text-align: center;
letter-spacing: -0.01em;
color: #0F101B;

}

.entrarGoogle{
    cursor: pointer;
    width: 278px;
    height: 42px;
    left: 75px;
    top: 420px;
    margin-top: 21px;
    border: none;
    align-self: center;
    border-radius: 15px;

    font-weight: 300;
    font-size: 18px;
    line-height: 110.5%;
    align-items: center;
    letter-spacing: -0.01em;
    color: rgba(16, 24, 32, 0.65);

    

    background-color: #ffffff; 
}

.entCoGo{
    margin-top: 6px;
}

.logoGoogle{
    float: left;
    height: 35px;
    padding: 0px;
    margin-left: 5px;
}

.cadastrar{
    cursor: pointer;
    margin-bottom: 2rem;
    border-radius: 50px;
    border: 3px  solid #3F3D56;
    background-color: #E6E6E6;
    color: #3F3D56;
    font-size: 20px;
    align-self: center;
    text-decoration: none;
    text-align: center;
    width: 240px;
    height: 45px; 
}

.cadastrar:hover{
    background: #3F3D56;
    color: #E6E6E6;
}

/* CSS do Cadastrar */
.close{
    position: absolute;
    color:#101820;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    top: 20px;
    left: 380px;
}

.formCadastrar {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.formCadastrar input{
    border-radius: 12px;
    border: none;
    background-color: #C4C4C4;
    width: 380px;
    height: 35px;
    padding: 10px;
    margin: 5px;
}

.sign {
    font-size: 50px;
    margin-bottom: 30px;
    cursor: default;
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    color: #101820;
}

.buttonCadastrar {
    border-radius: 30px;
    border: 2px solid;
    background-color: #E6E6E6;
    color: #101820;
    border-color: #101820;
    font-size: 20px;
    margin-top: 40px;
    height: 45px;
    width: 220px;
    align-self: center;
    font-weight: bold;
    cursor: pointer;
}

.buttonCadastrar:hover {
    border-radius: 30px;
    border: 3px  solid;
    background-color: #101820;
    color: #F9A826;
    border-color: #101820;
    font-size: 20px;
    margin-top: 40px;
    height: 45px;
    width: 220px;
    align-self: center;
    font-weight: bold;
}

.bodyCadastrar {
    background-color: #101820;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.frente {
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map {
    position: absolute;
    width: 20%;
    z-index: -1;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.evite {
    position: absolute;
    top: 25%;
    left: 30%;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.aglo, .use{
    cursor: default;
}

.aglo {
    color: white;
    font-weight: bold;
    font-size: 50px;
    padding-left: 170px;
}

.use {
    color: white;
    font-size: 50px;  
    padding-left: 35%;
}

.safe {
    color: #AC84FF;
}

.mapTitle {
    color: #F9A826;
}

.logo {
  position: absolute;
  padding-left: 10px ;
  padding-top: 10px;
  width: 4%;
}

/* CSS do esqueceuSenha.html */

.divEsqueceuSenha {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    width: 450px;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.bodyForgot {
    background-color: #E6E6E6;
    max-width: 100%;
    overflow: hidden;
}

.esqueceu, .noProblem, .sent, .link {
    cursor: default;
}

.esqueceu {
    color:  #101820;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}

.noProblem {
    color: #AC84FF;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.sent {
    color: white;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.link {
    color: white;
    font-size: 20px;
    margin-bottom: 30px ;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.divEsqueceuSenha input {
    border-radius: 40px;
    width: 70vh;
    height: 60px;
    border: 4px solid;
    border-color: #F9A826;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
}

.enviarLink {
    border-radius: 50px;
    width: 190px;
    height: 40px;
    font-size: 20px;
    border: 3px solid;

}

.enviarLink:hover {
    cursor: pointer;
    border-radius: 50px;
    width: 190px;
    height: 40px;
    font-size: 20px;
    border: 3px solid;
    background-color: #36354D;
    border-color: white ;
    color: white;
}

.vector {
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.pssimg {
    position: absolute;
    width: 25%;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/*Testes */
.modalDialog {
    z-index: 9999;
    pointer-events: none;
    display: none;
    top: 50%;
    left: 50%;
}

.modalDialog:target {
    display: flex;
    pointer-events: auto;
}

@media (max-width: 1167px) {
    .map, .evite, .aglo, .use, .safe, .mapTitle, .logo{
        display: none;
    }

    .principal, .divCadastrar{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}